
body  /* background */
 {
  font-family: Arial, sans-serif;
  background: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}


.container /*box*/
{
  background: linear-gradient(135deg, #fdfbfb, #ebedee);
  padding: 50px 40px;
  border-radius: 20px;
  box-shadow: 0 10px 25px black;
  text-align: center;
  width: 360px;  
  height: 400px;  
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}


.logo/* Logo */
{
  width: 85px;
  height: 85px;
  margin-bottom: 20px;
  border-radius: 50%; /* Circular logo */

  border: 2px solid #009ee0; 
}


.title-box /* Title Box that holds buttons */
{
  background: white;
  color:black;
  font-size: 22px;
  font-weight: bold;
  padding: 20px;
  border-radius: 16px;
  margin-bottom: 20px;
  box-shadow: 0 4px 12px #009ee0;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.title-box /*  Title box: header text */
 {
  margin: 0 0 15px 0;
  font-size: 22px;
}


.choice-btn/* Buttons */
{
  margin: 8px 0;
  padding: 14px 25px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  color: white;
  width: 90%;
  box-shadow: 0 4px 10px black;
}

.choice-btn.teacher {
  background: linear-gradient(135deg, #ff7e5f, #feb47b);
  transition: transform 0.3s;
}

.choice-btn.student {
  background: linear-gradient(135deg, #43cea2, #185a9d);
  transition: transform 0.3s;
}


.choice-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 14px black;
}
